.over {
	width: 100%;
	height: 100%;
	background: #00000055;
	position: fixed;
	display: flex;
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.block {
	background-color: var(--bgcV1);
	border-radius: 4px;
	padding: 12px 9px;
	text-align: center;
	color: var(--cV1);
	font-weight: bold;
	font-size: 1.25vw;
}

.but {
	height: 1vh;
	margin-inline: 4.5px;
}

.blockBut{
	display: flex;
	margin: auto;
	justify-content: center;
}