.AppHeader {
	width: 100%;
	height: 86vh;
	display: flex;
	position: relative;
	top: 7vh;
}

.blockPredm{
	text-align: center;
	margin: auto;
	width: 75%;
}

.predm{
	background-color: var(--bgcV1);
	padding: 10px;
	border-radius: 5px;
	transition: background-color 1s ease;
	margin-block: 5vh;
	overflow-x: auto;
	overflow-y: hidden;
}

.days{
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0.5px;
}

.predmGrid{
	display: grid;
	grid-template: 5vh /20vw;
	transition: background-color 1s ease;
	width: fit-content;
	grid-auto-columns: 2vw;
}

.predmGrid:hover{
	background-color: #FF970055 !important;
}

.daysGrid{
	display: grid;
	grid-template: 15vh /20vw;
	width: fit-content;
	grid-auto-columns: 2vw;
}

.daysGrid > div, .predmGrid > div{
	grid-row: 1;
}

.nav_i{
	text-decoration: none;
	border: 1px solid var(--bcV1);
	cursor: pointer;
	color: var(--cV1);
	font-size: 1.25vw;
	font-weight: 500;
	text-shadow: 1px 1px 3px var(--shdV1);
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	transition: color 1s ease;
	transition-property: color, text-shadow, border-color;
	margin: -0.5px;
	padding: 5px;
	position: relative;
}

#nav_i:hover, #nav_i:hover *{
	color: #00ff00 !important;
	text-shadow: 0 0 2vw #66ff66;
}

#nav_i:active, #nav_i[data-act="1"]{
	transition: color 0.1s ease;
	color: #004d00 !important;
}

.nav_iText{
	transform: rotateZ(270deg);
	color: #990000;
}

.nav_iBr{
	border: none;
}

.nam, .namd{
	position: absolute;
	width: 20vw;
	height: 5vh;
	padding: 0;
	background-color: var(--bgcV1);
	z-index: 1;
}

.namd{
	height: 15vh;
}

.nav_iTextM{
	color: #990000;
}

.nav_iTextD{
	font-size: 0.75vw;
}

.nav_iWeight{
	border: none;
	font-size: 0.75vw;
	margin: initial;
	padding: initial;
	align-items: center;
	top: 0.75vw;
	position: relative;
	margin-block: 0.75vw;
}

.nav_i:hover .nav_iType {
	opacity: 1;
}

.blockMark[data-tooltip]:hover::before {
	content: attr(data-tooltip);
	position: absolute;
	right: 75%;
	bottom: 75%;
	padding: 5px 10px;
	background-color: var(--bgcV2);
	border-radius: 5px;
	border: 1px solid var(--bcV1);
	z-index: 2;
}